terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
ec2/generated-DIM_Operatorstest2.pem
../ansible/roles/deployment/dim_operators/files/cloudera_license.txt
